html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    background: #f2f3f5;
}

.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layui-form {
    width: 450px;
}

#form-add {
    padding-top: 20px;
    padding-right: 30px;
}

#form-edit {
    padding-top: 20px;
    padding-right: 30px;
}